:root {
    --bg-color: #272b23; 
    --g-selected-text: #14fe17;
    --g-non-selected-text: #107c12;
    --b-selected-text: #14cffe;
    --b-non-selected-text: #000000;
    --w-selected-text: #ffffff;
    --w-non-selected-text: #ff00c8;
    --y-selected-text: #F76C5E;
    --y-non-selected-text: #FF9F43;
}
*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Teko', sans-serif;
    background-color: var(--bg-color);
    color:var(--y-non-selected-text);
    overflow: hidden;    
}
body::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 15000;
    top: 0;
    background-size: 4px;
    pointer-events: none;
    background: 
        repeating-linear-gradient(0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.4) 1px, 
        transparent 1px,
        transparent 2px);
        opacity: .4;
}
img{
    width: 300px;
}
.background img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -20;
}
.bg-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -19;
}
/* NAVIGATION  */
.nav-bar ul{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.nav-bar li{
    
    display: grid;
    grid-template-columns:repeat(auto-fit, 100px) ;
    justify-content: center;
    justify-items: center;
    padding: 0px 40px;
    margin-top: 15px;
    font-size: 40px;
    color: var(--y-non-selected-text);  
    cursor: pointer;   
   
}

.nav-bar li:hover{
    color:var(--y-selected-text);
   
}


.langs {
    display: flex; /* Para centralizar os elementos internos também */
    margin-top: 80px;
    font-size: 25px;
    justify-content: center; /* Centraliza horizontalmente */
}
.langs span{
    margin: 0.9px;
}


.content-card{
    
    border-left: 3px solid  var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    position: absolute;
    left: 17%;
    top: 50px;

}
.content-card::before {
    content: ' ';
    position: absolute;
    display: block;
    z-index:100;
    top: 0px;
    left: 0px;
}
.content-card::after{
    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    top: 0px;
    right: 0px;
}
.greetings-title {
    padding: 160px 10px 160px 60px;
    position: relative;
    line-height: 70px;
    text-align: left;
    font-size: 60px;
    letter-spacing: 2px;
    z-index: 1000;
}
.greetings-title span{
    color: var(--y-selected-text);
}

.greetings{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.greetings::before{
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: .8;
}
/* ABOUT  */
.about-content-card{
    border-left: 3px solid  var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    position: absolute;
    left: 15%;
    margin-top: 50px;
}
.about-content-card::before {
    content: ' ';
    position: absolute;
    display: block;
    z-index:100;
    background: var(--y-selected-text);
    top: 0px;
    left: 0px;
}
.about-content-card::after{
    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    right: 0px;
}

.about-section::before{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: -1;
}
.about-content{
    padding: 10px 10px 30px 60px;
    z-index: 100;
}
.about-title h1{
    font-size: 60px;
    color: var(--y-selected-text);;
}
.about-text p{
    font-size: 20px;
    letter-spacing: 1px;  
}
.about-text i{
    font-size: 30px;
}
/* WORK  */

.work-content-card {
    border-left: 3px solid var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: transparent;
    position: relative; 
    z-index: 1; 
}

.work-content-card::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background: rgba(0, 0, 0, 0.8); 
    z-index: -1; 
}

.work-gallery {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-evenly;
}

.work-project-card {
    display: grid;
}

.work-project-card-title {
    font-size: 30px;
    padding: 20px 0 10px 0;
    letter-spacing: 1px;
    font-weight: 100;
    color: white;
    cursor: pointer;
}


.workPic{
    width: 300px;
    height: 150px;
}

.button-project {
    border: 1px solid var(--b-non-selected-text);
    display: inline-block;
    padding: 10px 40px;
    letter-spacing: 1px;
    cursor: pointer;
    color: var(--y-non-selected-text);
}
.button-project:hover{
    background-color: var(--b-selected-text);
    color: var(--bg-color);
    transition: all 1.5s;
}
/* SKILLS  */
 
.skills-content-card{
    border-left: 3px solid  var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    position: absolute;
    left: 17%;
    top: 130px;
    background-color: transparent;
    z-index: 1;
}
.skills-content-card::before {
    content: ' ';
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.8); 
    z-index: 1;
    left: 17%;
    top: 130px;
}
.skills-content-card::after{

    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);;
    top: 0px;
    right: 0px;
}
.skills-content{
    padding: 160px 0px 160px 50px  ;
    letter-spacing: 1px;
    z-index: 2; 
    background: rgba(0, 0, 0, 0.8);;
}
.skills-title h1{
    font-size: 60px;
    color : var(--y-selected-text);   
}
.skills-text{
    font-size: 25px;
    color: var(--y-non-selected-text);
    z-index: 2;
}
/* CONTACT  */
/* FOOTER  */
.footer{
    width: 100%;
    position: absolute;
    bottom: 0; 
    z-index: -1;
}

.settings-green{
    color:var(--g-selected-text);
}

.settings-blue{
    color:var(--b-selected-text);
}
.settings-yellow{
    color:var(--y-selected-text);
}
.settings-pink{
    color:var(--w-selected-text);
}
.interface-settings {
    position: fixed;
    bottom: 100px;
    left: -350px; /* Inicialmente fora da tela */
    transition: left 1.5s, transform 1.5s; /* Transições suaves */
    opacity: 0; /* Começa invisível */
    will-change: transform; /* Otimização para animação */
}

.interface-settings.show {
    left: 50%;
   
    opacity: 1; /* Aparece na animação */
}
.interface-settings ul{
    display: flex;
}
.interface-settings li{
    padding: 20px;
}
.interface-settings i{

    top: 50%;           /* Centraliza verticalmente */
    font-size: 40px;

}


@media screen and (max-width: 1390px) {
    .content-card{
        top: 90px;
        height: 500px;
    }
    .greetings-title{
        font-size: 45px;
    }
    .about-content{
        height: 450px;
        overflow-Y: scroll;
    }
    .about-content-card{
        margin-top: 90px;

    }
    .work-gallery{
        overflow-y: scroll;   
        height: 400px;
       
    }
    .work-content-card{
        margin-top: 90px;
    }

    .skills-content{
        top: 100px;
        padding: 60px 0 60px 100px;
    }
    
}
 
 @media screen and (max-width: 1200px){
    .content-card{
    top: 120px;
    }
    .greetings-title{
        font-size: 45px;
        line-height: 55px;
    }
    .about-content-card{
        margin-top: 120px; 
    }
    .about-content{
      overflow-y: scroll;   
      height: 550px;
    }
    .work-gallery{
      overflow-y: scroll;   
      height: 500px;
    }
    

 }


@media screen and (max-width: 1015px){
    .about-content{
        overflow-y: scroll;   
        height: 550px;
      }
      .phone-contact{
          width: 100px;
      }
      .letsTalk {
          width: 110px;
         
      }
      .letsTalk h1{
          font-size: 15px;
      }
      .work-gallery{
        overflow-y: scroll;   
        height: 500px;
      }

 }
 @media screen and (max-width: 786px){
    .about-content{
        overflow-y: scroll;   
        height: 300px;
      }
      .phone-contact{
          width: 100px;
      }
      .letsTalk {
          width: 110px;
         
      }
      .letsTalk h1{
          font-size: 25px;
      }
      .work-gallery{
        overflow-y: scroll;   
        height: 500px;
      }

 }
 @media screen and (max-width: 660px){
    .about-content{
        overflow-y: scroll;   
        height: 200px;
      }
      .phone-contact{
          width: 100px;
      }
      .letsTalk {
          width: 110px;
         
      }
      .letsTalk h1{
          font-size: 25px;
      }
      .work-gallery{
        overflow-y: scroll;   
        height: 500px;
      }
      .nav-bar li{
          padding: 0 20px;
      }

 }
 @media screen and (max-width: 400px){
    .about-content{
        overflow-y: scroll;   
        height: 450px;
        padding: 10px;
      }
      .phone-contact{
          display: none;
      }
      .letsTalk {
          display: none;
         
      }
      .work-gallery{
        overflow-y: scroll;   
        height: 350px;
        
      }
      .nav-bar li{
          padding: 0;
          font-size:12px;

      }
      .skills-text{
          font-size: 13px;
      }
      .skills-content{
          padding: 20px 0 20px 20px;
      }
      .greetings-title{
          padding: 50px 10px 50px 10px;
      }
      .content-card{
          top: 60px;
      }
      .about-content-card{
        top: 10px;
      }
      .work-content-card{
          top: 30px;
      }
    
          
      
 }



 .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
   
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-image: linear-gradient(to top, rgba(0, 57, 104, 0.658) , var(--bg-color));
    color: var(--w-selected-text);
    text-align: center;
    border-top: 2px solid var(--w-non-selected-text);
    border-bottom: 2px solid var(--w-non-selected-text);
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 100px;
    margin-left: -60px;
    font-size: 17px;
    
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
} 